[Unit]
Description=Offen - Fair web analytics
After=network.target
After=mysql.service
Requires=mysql.service

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
ExecStart=__FINALPATH__/offen

[Install]
WantedBy=multi-user.target
